.locationContainer {
    position: relative;
    display: grid;
    text-align: center;
    font-size: 14px;
    padding: 22px;
}
.dailyContainer {
    position: relative;
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
    padding: 34px;
}
#currentTemps {
    display:grid;
    grid-template-columns: auto auto auto;
    padding:20px;
}
.forecastContainer {
    text-align: center;
    padding:26px;
    display:grid;
    grid-template-columns: auto auto auto auto auto;
}
